// css/base/_base.scss

@use 'variables';

html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: variables.$color-background;
    font-family: variables.$font-family;
}

.main-container {
    width: 100%;
    height: 100%; 
    box-sizing: border-box; 
    overflow-y: auto; 
    
    @media (min-width: calc(variables.$breakpoint-tablet + 1px)) {
        padding-left: variables.$largura-sidebar; 
        transition: padding-left 0.3s ease-out; 
    }

    @media (max-width: variables.$breakpoint-tablet) {
        padding-left: 0;
    }
}

.main-container.sidebar-closed-desktop {
    @media (min-width: calc(variables.$breakpoint-tablet + 1px)) {
        padding-left: 0; 
    }
}

.content {
    display: flex;
    flex-direction: column;
    width: 100%; 
    box-sizing: border-box;
    padding: 20px;
    gap: 20px;

    margin-top: variables.$altura-header; 
    
    @media (max-width: variables.$breakpoint-tablet) {
        padding: 15px;
        gap: 15px;
        margin-top: variables.$altura-header;
    }
}