// css/base/_forms.scss

label { 
    display: block;
    font-weight: 600;
    font-size: 0.9rem;
    color: #333;
}

input[type="text"],
select,
input[type="file"],
textarea {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 16px;
    font-size: 1rem;
    box-sizing: border-box;
}