// css/base/_variables.scss

$font-family: 'Inter', sans-serif;

$font-size-logo: 24px;
$font-size-title: 20px;
$font-size-subtitle: 18px;
$font-size-text: 14px;

$color-primary: #1b304b;
$color-secondary: #25446a;
$color-tertiary: #a4d3e6;
$color-text: #121212;
$color-text-alt: #ffffff;
$color-background: #d5e5ed;
$color-green: #3e6b3e;
$color-red: #c82333;


$altura-header: 60px;
$largura-sidebar: 250px;

$breakpoint-mobile: 480px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;