<header class="header">
    <div class="header-left">

        <button class="menu-toggle-button" aria-label="Abrir/Fechar menu de navegação" aria-expanded="false">
            <span class="material-symbols-outlined menu-icon">menu</span>
            <span class="material-symbols-outlined close-icon" hidden>menu</span>
        </button>

        <div class="header-logo">
            <button onclick="window.location.href='https://icei-puc-minas-pmv-si.github.io/pmv-si-2025-1-pe1-t2-organizapro/index.html'" id="homeButton" class="logo"
                aria-label="Página inicial">OrganizaPRO</button>
        </div>
    </div>

    <div class="header-actions">
        <div class="search-bar">
            <span class="material-symbols-outlined" aria-hidden="true">search</span>
            <input type="text" placeholder="Pesquisar" />
        </div>
        <button onclick="window.location.href='https://icei-puc-minas-pmv-si.github.io/pmv-si-2025-1-pe1-t2-organizapro/index.html'" aria-label="Página inicial"><span
                class="material-symbols-outlined">home</span></button>
        <span class="material-symbols-outlined" aria-label="Notificações" aria-hidden="true">notifications</span>
        <span class="material-symbols-outlined" aria-label="Modo noturno" aria-hidden="true">dark_mode</span>
        <span class="material-symbols-outlined" aria-label="Perfil do usuário" aria-hidden="true">account_circle</span>
        <button onclick="window.location.href='https://icei-puc-minas-pmv-si.github.io/pmv-si-2025-1-pe1-t2-organizapro/pages/login.html'" aria-label="Sair" aria-hidden="true"><span
                class="material-symbols-outlined">exit_to_app</span></button>
    </div>
</header>