<div id="sidebar-wrapper" class="sidebar-wrapper">

    <aside id="sidebar" class="sidebar">
        <div class="menu">
            <div class="sidebar-section">
                <p class="sidebar-section-title">Tarefas</p>
                <aside class="task-sidebar">
                    <div class="menu-items task-menu-buttons">
                        <button class="menu-button" id="btn-tarefas-hoje">Hoje <span class="badge"
                                id="badge-hoje">0</span></button>
                        <button class="menu-button" id="btn-tarefas-proximos-7-dias">Próximos 7 dias <span class="badge"
                                id="badge-proximos-7-dias">0</span></button>
                    </div>
                </aside>
            </div>
            <div class="sidebar-section">
                <p class="sidebar-section-title">Menu</p>
                <button onclick="window.location.href='https://icei-puc-minas-pmv-si.github.io/pmv-si-2025-1-pe1-t2-organizapro/'" id="homeButton" class="menu-button">Tela Inicial</button>
                <button onclick="window.location.href='https://icei-puc-minas-pmv-si.github.io/pmv-si-2025-1-pe1-t2-organizapro/pages/control-panel.html'" class="menu-button">Painel de
                    Controle</button>
                <button onclick="window.location.href='https://icei-puc-minas-pmv-si.github.io/pmv-si-2025-1-pe1-t2-organizapro/pages/upd-panel.html'" class="menu-button">Painel de
                    Atualizações</button>
                <button class="menu-button">Usuários e Acessos</button>
                <button class="menu-button">Notificações</button>
                <button class="menu-button">Configurações</button>
            </div>
        </div>
    </aside>

</div>