// css/components/_search-bar.scss

@use '../base/variables';

.search-bar {
    display: flex;
    position: relative;
    align-items: center;
    background-color: inherit;
    border-radius: 8px;
    height: auto;
    margin: 0px;

    input {
        padding: 9px 20px 9px 40px;
        border: 1px solid variables.$color-background;
        border-radius: 8px;
        background-color: inherit;
        color: variables.$color-text;
        font-size: variables.$font-size-text;
        width: 150px;
        min-width: 100px;
        outline: none;
    }

    .material-symbols-outlined {
        position: absolute;
        left: 10px;
        color: #fff;
        font-size: 18px;
        pointer-events: none;
    }

    /* Responsividade para a search-bar */
    @media (max-width: 768px) {
        font-size: 0.9rem;
        padding: 8px 15px;
        input {
            font-size: 0.9rem;
        }
    }

    @media (max-width: 500px) {
        padding: 6px 12px;
    }
}

.sidebar .search-bar {
    width: 100%;
    input {
        width: 100%;
    }
}

.control-panel-actions .search-bar .material-symbols-outlined,
.upd-actions .search-bar .material-symbols-outlined { 
    color: variables.$color-text;
}