// css/layout/_header.scss

@use '../base/variables';

.header {
    position: fixed;
    width: 100%;
    height: variables.$altura-header;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    background-color: variables.$color-primary;
    z-index: 9000;

    .header-left {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;
    }

    .menu-toggle-button {
        background: transparent;
        border: none;
        color: variables.$color-text-alt;
        font-size: 2.5rem;
        cursor: pointer;
        padding: 5px;
        order: -1;
        display: block;
    }

    .menu-toggle-button .close-icon {
        display: none;
    }

    .menu-toggle-button.is-open .menu-icon {
        display: none;
    }

    .menu-toggle-button.is-open .close-icon {
        display: block;
    }


    .header-logo {
        display: flex;
        align-items: center;

        @media (max-width: variables.$breakpoint-tablet) {
            .logo {
                font-size: 20px;
            }
        }
    }

    .header-actions {
        display: flex;
        align-items: center;
        gap: 10px;
        color: variables.$color-text-alt;

        @media (max-width: variables.$breakpoint-tablet) {
            gap: 5px;

            .search-bar,
            button[aria-label="Página inicial"],
            .material-symbols-outlined[aria-label="Notificações"],
            .material-symbols-outlined[aria-label="Modo noturno"],
            .material-symbols-outlined[aria-label="Perfil do usuário"],
            button[aria-label="Sair"] {
                display: none;
            }
        }

        @media (max-width: variables.$breakpoint-mobile) {}
    }
}