/* _recent-upd.scss */

.section-atualizacoes {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  justify-content: space-between;
  width: 100%;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  gap: 20px;
}

.cards {
  display: flex;
  gap: 15px;
  background-color: white;
}

.card {
  background-color: #d5e5ed;
  width: 33%;
  border-radius: 12px;
  overflow: hidden;
  position: relative;
}

.image-container {
  position: relative;
}

.card img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  display: block;
}

.image-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.7) 0%, transparent 100%);
  color: white;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}


.texto-atualizacao-overlay h3 {
  font-size: 1.2rem;
  margin-bottom: 5px;
}

.texto-atualizacao-overlay small {
  font-size: 0.8rem;
}

/* Oculta o texto que estava originalmente fora da imagem */
.texto-atualizacao {
  display: none;
}

/* Responsividade para a Seção de Atualizações */
@media (max-width: 768px) {
    .section-atualizacoes {
        padding: 15px;
        gap: 15px;
    }

    .cards {
        flex-direction: column;
        gap: 10px;
    }

    .card {
        width: 100%;
        padding: 15px;
        border-radius: 8px;
    }

    .image-container {
        position: relative;
        height: 120px;
    }

    .card img {
        object-fit: cover;
        height: 100%;
    }

    .texto-atualizacao-overlay h3 {
        font-size: 1rem;
    }

    .texto-atualizacao-overlay small {
        font-size: 0.75rem;
    }
}