// sass/layout/_tasks.scss

@use '../base/variables';
@use '../components/tags'; 

.section-tasks {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    justify-content: space-between;
    width: 100%;
    gap: 20px;

    @media (max-width: 768px) {
        gap: 15px;
    }
}

.header-tasks {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    justify-content: space-between;
    background-color: white;
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    gap: 20px;

    @media (max-width: 768px) {
        gap: 15px;
        padding: 15px;
    }
}

.quadros {
    background-color: inherit;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    gap: 15px;

    @media (max-width: 768px) {
        flex-direction: column;
    }

    @media (max-width: 500px) {
        flex-direction: column;
        gap: 10px;
    }
}

.quadro {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 100%;
    background-color: white;
    padding: 20px;
    gap: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

    @media (max-width: 768px) {
        width: 100%;
        padding: 15px;
    }
}

.quadro-header {
    display: flex;
    background-color: inherit;
    font-weight: bold;
    justify-content: space-between;
}

.tarefa-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    gap: 15px;
    background-color: inherit;
    border: variables.$color-background 1px solid;
    padding: 10px;
    border-radius: 8px;
    position: relative;

    @media (max-width: 768px) {
        width: 100%;
        padding: 15px;
        font-size: 0.9rem;
        border-radius: 8px;
    }

    @media (max-width: 500px) {
        padding: 12px;
        font-size: 0.85rem;
    }

    @media (max-width: 400px) {
        font-size: 0.8rem;
        padding: 10px;
    }
}

.tarefa-conteudo {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.tarefa-check {
    position: absolute;
    top: 10px;
    right: 10px;
    transform: scale(1.2);
    accent-color: #3e6b3e;

    @media (max-width: 768px) {
        top: 8px;
        right: 8px;
    }

    @media (max-width: 500px) {
        transform: scale(1.1);
    }

    @media (max-width: 400px) {
        transform: scale(1);
        top: 6px;
        right: 6px;
    }
}

.tarefa-dados {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    @media (max-width: 768px) {
        flex-direction: column;
        align-items: flex-start;
    }
}

.tarefa-dados > div:last-child {
    display: flex;
    align-items: center;
    gap: 4px;
}