.favorites-section {
    display: flex;
    flex-direction: column;
    box-sizing: border-box; 
    justify-content: space-between;
    width: 100%;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px; 
    gap: 20px;
  
}
  
  .favorites-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .favorite-card {
    display: flex;
    background-color: var(--color-background);
    justify-content: space-between;
    box-sizing: border-box;
    border: 1px solid var(--color-background);
    border-radius: 10px;
    padding:  5px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    min-width: 23%;
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  
    &:hover {
      transform: scale(1.03);
      box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    }
  }
  
  .favorite-details {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
  }
  
  .favorite-name {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-family: var(--font-family);
    font-size: var(--font-size-text);
    font-weight: 300;
    color: var(--color-text);
  }
  
  .favorite-actions {
    display: flex;
    gap: 8px;
    white-space: nowrap;
    margin-left: auto;
  
    button {
      background: none;
      border: none;
      font-size: 0.9rem;
      cursor: pointer;
      padding: 6px;
      color: #777;
      transition: color 0.2s ease-in-out;
  
      &:hover {
        color: #333;
      }
  
      &.remove-button .fa-heart {
        color: #e44d26;
        opacity: 1;
      }
  
      &.view-button {
        display: none;
      }
    }
  }

  
  